@model AgenceVoyage.Models.Forfait

@{
    ViewData["Title"] = "Details";
}

<div id="myCarousel" class="carousel slide">

    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="first-slide" src="~/images/@Model.image" alt="First slide">
        </div>
    </div>
</div>

<h2>@Model.image</h2>

<div>
    <h4>Forfait</h4>

    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.destination)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.destination)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.prix)
        </dt>
        <dd class = "col-sm-10">
            $@Html.DisplayFor(model => model.prix)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.duree)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.duree) jours
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Reserve" asp-route-id="@Model.idForfait">Reserver</a> |
    <a asp-action="Index">Back to List</a>
</div>
